* {
    box-sizing: border-box;
    font-family: "Fira Sans", serif; 
    
}


/* body {
    background-color: #F5F5F5;
    max-width: 1600px;    
    align-items: center; 
    margin-left: 200px;
} */

/* box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);   */


/* Hero styling  */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d6f1e4; /* Light green to match the design */
    padding: 50px;
    border-radius: 20px;
    margin: 50px auto;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.hero-content {
    flex: 1;
    max-width: 50%;
     
}

.hero-content h1 {
    font-size: 42px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
}

.explore-btn {
    background-color: #036635;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

 
/* Hero Image */
.hero-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
     
}

